extends ../layout

block content
  h1= title
  p Welcome to #{title}
  p #{msg}
  
  p.form-label Name: #{beer.name}
  p.form-label Price: #{beer.price}
  p.form-label Alcohol: #{beer.alcohol}
  p.form-label Category: #{beer.category}
  p.form-label Description:  #{beer.description}
        
  a(href='/beers/#{beer._id}/edit') Edit
    
